<h2>New bill member</h2>

<%= render "form.html", changeset: @changeset,
                        action: bill_member_path(@conn, :create),
                        bill_item_id: @bill_item_id,
                        users: @users %>

<%= link "Back", to: bill_item_path(@conn, :edit, @bill_item_id) %>
