<h2>New bill member</h2>

<%= render "form.html", changeset: @changeset,
                        action: bill_member_path(@conn, :create),
                        bill_items: @bill_items,
                        users: @users %>

<%= link "Back", to: bill_member_path(@conn, :index) %>
