<h2>Edit bill item</h2>

<%= render "form.html", changeset: @changeset, bills: @bills,
                        action: bill_item_path(@conn, :update, @bill_item) %>

<%= link "Back", to: bill_item_path(@conn, :index) %>
