<h2>New bill item</h2>

<%= render "form.html", changeset: @changeset,
                        bill_id: @bill_id,
                        return_to: @return_to,
                        action: bill_item_path(@conn, :create) %>

<%= link "Back", to: @return_to %>
