<h2>New bill</h2>

<%= render "form.html", changeset: @changeset,
                        users: @users,
                        payer_id: @payer_id,
                        template: :new,
                        show_advanced: false,
                        action: bill_path(@conn, :create) %>

<%= link "Back", to: bill_path(@conn, :index) %>
